.contactImg {
  height: 150px;
  width: 150px;
  background-color: #f9f9f9;
  border-radius: 50%;
  border: 2px solid white;
}
.profileImg {
  text-align: center;
}
.outer {
}
.no {
  padding: 20px;
  color: gray;
  border-bottom: 1px solid lightgray;
}
.id {
  padding: 20px;
  color: gray;
  border-bottom: 1px solid lightgray;
}
.upperBlock {
  background-color: #dcf7f2;
  padding: 25px;
}
.nameTxt {
  font-weight: 700;
  font-size: 18px;
  font-family: sans-serif;
  text-align: center;
  margin-top: 8px;
}
.contactLink {
}
.editLink {
  flex: 1;
  font-size: bold;
  font-weight: bold;
  font-size: 14px;
  text-align: right;
  text-decoration: none;
  color: #ffffff;
}
.txt {
  color: #60dfc4 !important;
  font-size: 14px;
}
.link {
  text-decoration: none;
  color: #60dfc4;
}
.links {
  padding: 20px 10px;
  display: flex;
  background: #009688;
}
.arrowContact {
  display: flex;
  flex: 1;
}
.icon-img {
  height: 30px;
  border-radius: 15px;
  background: #57debe;
  padding: 15px;
}
.fav-img {
  height: 30px;
  border-radius: 15px;
  background: #ffffff;
  padding: 15px;
  cursor: pointer;
}
.icons {
  display: flex;
  margin-top: 24px;
}
.icon {
  flex: 1;
}
.field {
  margin-left: 33px;
}
.deleteLink {
  text-decoration: none;
  color: red;
}
.linkField {
  padding: 20px;
  background: #ffffff;
  text-align: center;
}
