<div class="container">
  <div class="links">
    <div class="arrowContact">
      <div class="txt">
        <a routerLink="" class="link">
          <img
            style="height: 18px;vertical-align: bottom;"
            src="/assets/images/leftarrow.svg"
          />
          Contact
        </a>
      </div>
    </div>
    <a routerLink="/edit/{{ currentContact.id }}" class="editLink">Edit</a>
  </div>
  <div class="upperBlock">
    <div class="profileImg">
      <img class="contactImg" src="{{ currentContact.contactImage }}" />
    </div>

    <div class="nameTxt">{{ currentContact.contactName }}</div>

    <div class="icons">
      <div class="icon">
        <img class="icon-img" src="/assets/images/phone.svg" />
      </div>

      <div class="icon">
        <img class="icon-img" src="assets/images/sms.svg" />
      </div>

      <div class="icon">
        <img class="icon-img" src="assets/images/email.svg" />
      </div>

      <div class="icon">
        <img
          *ngIf="currentContact.favourite"
          (click)="removeFromFav()"
          class="fav-img"
          src="assets/images/favseleced.svg"
        />
        <img
          *ngIf="!currentContact.favourite"
          (click)="addToFav()"
          class="fav-img"
          src="assets/images/favnone2.svg"
        />
      </div>
    </div>
  </div>

  <div class="outer">
    <div class="no">
      Mobile <span class="field">{{ currentContact.mobile }}</span>
    </div>
    <div class="id">
      Email <span class="field">{{ currentContact.email }}</span>
    </div>
  </div>
  <div class="linkField">
    <a href="javascript:void(0);" (click)="deleteContact()" class="deleteLink">
      Delete
    </a>
  </div>
</div>
