.contactImg {
  height: 100px;
  width: 100px;
  background-color: #f9f9f9;
  border-radius: 50%;
  border: 2px solid white;
}
.profileImg {
  text-align: center;
  background-image: linear-gradient(white, #a6eedf);
  padding: 40px 10px;
}

.inputBlock {
  display: flex;
  padding: 0;
  background: #fbfbfb;
  border-bottom: 1px solid #dcdbdb;
}

.label {
  width: 100px;
  line-height: 40px;
  text-align: right;
  padding-right: 10px;
  color: #bdbdbd;
}
.ip {
  flex: 1;
}

.input-text {
  font-size: 14px;
  flex: 1;
  width: 100%;
  padding: 10px;
  border: 0px;
  line-height: 20px;
  outline: none;
  background: transparent;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-links {
  display: flex;
  background: #009688;
}

.link {
  flex: 1;
  text-decoration: none;
  color: #60dfc4;
  padding: 15px 10px;
  cursor: pointer;
}

.align-right {
  text-align: right;
  color: #ffffff;
}
