<div class="container">
  <div class="top-links">
    <a href="/" class="link">Cancel</a>
    <a class="link align-right" (click)="submit()">Done</a>
  </div>

  <div class="profileImg">
    <img class="contactImg" src="/assets/images/man.png" />
  </div>

  <div>
    <div class="inputBlock">
      <div class="label">First Name</div>
      <div class="ip">
        <input type="text" class="input-text" [(ngModel)]="firstName" />
      </div>
    </div>

    <div class="inputBlock">
      <div class="label">Last Name</div>
      <div class="ip">
        <input type="text" class="input-text" [(ngModel)]="lastName" />
      </div>
    </div>

    <div class="inputBlock">
      <div class="label">Mobile</div>
      <div class="ip">
        <input type="text" class="input-text" [(ngModel)]="mobile" />
      </div>
    </div>

    <div class="inputBlock">
      <div class="label">Email</div>
      <div class="ip">
        <input type="text" class="input-text" [(ngModel)]="email" />
      </div>
    </div>
  </div>
</div>
