<a href="#" class="cncl-link">Cancel</a>
<a class="done-link" (click)="submit()">Done</a>
<div class="inputBlock">
<div class="label">First Name</div>
<div class="ip"><input type="text" [(ngModel)]="firstName"></div>
</div>

<div class="inputBlock">
<div class="label">Last Name</div>
<div class="ip"><input type="text" [(ngModel)]="lastName"></div>
</div>

<div class="inputBlock">
<div class="label">Mobile</div>
<div class="ip"><input type="text" [(ngModel)]="editContact.mobile"></div>
</div>

<div class="inputBlock">
<div class="label">Email</div>
<div class="ip"><input type="text" [(ngModel)]="editContact.email"></div>
</div>

