.heading {
  padding: 10px;
}
.contactImg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.outer {
  display: flex;
  padding: 4px 8px;
  background: #fff;
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
}
.profileImg {
  width: 60px;
}
.name {
  flex: 1;
  line-height: 50px;
  font-size: 13px;
}
.fav {
  width: 30px;
}
.fav .fav-img {
  width: 20px;
  margin: 11px 0px;
}
.highlight {
  background-color: #f3f3f3;
}
.addBtn {
  margin-left: 110px;
}
.plus {
  color: #60dfc4;
  text-decoration: none;
  font-size: 32px;
  font-weight: 600;
}
.names {
  margin-left: 92px;
  font-size: 14px;
  font-weight: bold;
}
.grp {
  color: #60dfc4;
  font-size: 14px;
  font-weight: bold;
}
