.top-menu {
  padding: 20px 10px;
  display: flex;
  background: #009688;
}
.top-menu .group {
  flex: 1;
  color: #60dfc4;
  font-size: 14px;
}
.top-menu .contact-list {
  flex: 1;
  font-size: 14px;
  font-weight: bold;
  color: #60dfc4;
}
.top-menu .add-link {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.contactImg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.outer {
  display: flex;
  padding: 4px 10px;
  background: #fff;
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
}
.profileImg {
  width: 60px;
}
.name {
  flex: 1;
  line-height: 50px;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.fav {
  width: 30px;
}
.fav .fav-img {
  width: 20px;
  margin: 11px 0px;
}
.highlight {
  background-color: #f3f3f3;
}

.plus {
  color: #60dfc4;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}
