.container {
  max-width: 350px;
  margin: auto;
  background-color: #f9f9f9;
  margin-top: 45px;
}
.heading {
  padding: 10px;
}
.contactImg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.outer {
  display: flex;
  padding: 8px;
}
.profileImg {
  flex: 1;
}
.name {
  flex: 1;
  line-height: 3;
}
.fav {
  flex: 1;
  line-height: 3;
}
.highlight {
  background-color: #dad9d9;
}
.addBtn {
  margin-left: 110px;
}
.plus {
  color: #60dfc4;
  text-decoration: none;
  font-size: 32px;
  font-weight: 600;
}
.names {
  margin-left: 92px;
  font-weight: 700;
  font-size: 14px;
  font-family: sans-serif;
}
.grp {
  color: #60dfc4;
  font-size: bold;
  font-weight: bold;
  font-size: 14px;
  font-family: sans-serif;
}
