<div class="container">
  <div class="top-menu">
    <span class="group">Groups</span>
    <span class="contact-list">Contact</span>
    <a class="add-link" routerLink="/add">+ Add</a>
  </div>
  <div
    class="outer"
    (click)="onSelect(contact)"
    (mouseover)="displayDetails(i)"
    [ngClass]="{ highlight: i == clickedIndex }"
    *ngFor="let contact of contacts; index as i"
  >
    <div class="profileImg">
      <img class="contactImg" src="{{ contact.contactImage }}" />
    </div>
    <div class="name">{{ contact.contactName }}</div>
    <div class="fav">
      <img
        class="fav-img"
        *ngIf="contact.favourite"
        src="assets/images/favseleced.svg"
      />
    </div>
  </div>
</div>
